body {
    padding-top: 70px;
}

.ng-dirty.ng-invalid {
    border-color: #a94442;
}

.ng-dirty.ng-valid {
    border-color: #3c763d;
}

.form-password-confirm input[type=password]:first-of-type {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-password-confirm input[type=password]:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-login {
    margin: 0 auto;
    max-width: 300px;
    padding: 12px;
}

.form-user {
    margin: 0 auto;
    max-width: 500px;
    padding: 12px;
}

.form-user form {
    padding: 8px;
}

#new-event {
    margin: 10px 0;
    cursor: pointer;
    height: 3em;
    width: 100%;
}

#new-event-temp {
    width: 6em;
}

.form-rule-manage button:nth-of-type(1) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-rule-manage button:nth-of-type(2) {
    border-radius: 0;
}
.form-rule-manage button:nth-of-type(3) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

summary {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}
