<form class="form-login" ng-submit="loginCtrl.login()" novalidate>
    <h2>Log in</h2>
    <fieldset class="form-group">
        <label for="email" class="sr-only">E-mail</label>
        <input id="email" ng-model="loginCtrl.formData.email" class="form-control" type="email" placeholder="E-mail" autofocus required />
    </fieldset>
    <fieldset class="form-group">
        <label for="pass" class="sr-only">Password</label>
        <input id="pass" ng-model="loginCtrl.formData.pass" class="form-control" type="password" placeholder="Password" required />
    </fieldset>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Log in</button>
    </div>
    <p class="text-danger" ng-show="loginCtrl.formError.length > 0">
        {{ loginCtrl.formError }}
    </p>
</form>
