<notification></notification>
<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active: userListCtrl.action == 'list'}">
    <a href="" ng-click="userListCtrl.action = 'list'">List users</a>
  </li>
  <li role="presentation" ng-class="{active: userListCtrl.action == 'add'}">
    <a href="" ng-click="userListCtrl.action = 'add'">Add user</a>
  </li>
</ul>

<!-- Users list -->
<table class="table table-responsive" ng-show="userListCtrl.action == 'list'">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>E-mail</th>
    <th>Last login</th>
    <th>Created</th>
    <th>Owner</th>
    <th>User</th>
    <th>Guest</th>
  </tr>
  </thead>
  <tbody ng-repeat="user in userListCtrl.users">
  <tr>
    <td>{{ user.id }}</td>
    <td><a ng-href="#/users/{{ user.id }}">{{ user.name }}</a></td>
    <td>{{ user.email }}</td>
    <td>{{ user.last_login * 1000 | date : 'yyyy.MM.dd HH:mm:ss' }}</td>
    <td>{{ user.created * 1000 | date : 'yyyy.MM.dd HH:mm:ss' }}</td>
    <td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="user.roles.owner"></span></td>
    <td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="user.roles.user"></span></td>
    <td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="user.roles.guest"></span></td>
  </tr>
  </tbody>
</table>

<!-- Add user form -->
<form class="form-user form-horizontal" ng-submit="userListCtrl.addUser()" ng-show="userListCtrl.action == 'add'"
      novalidate>
  <fieldset class="form-group">
    <label class="col-sm-3 control-label">Name</label>
    <div class="col-sm-9">
      <input class="form-control" id="name" type="text" placeholder="Name" ng-model="userListCtrl.newUser.name"/>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label class="col-sm-3 control-label">E-mail</label>
    <div class="col-sm-9">
      <input class="form-control" id="email" type="email" placeholder="E-mail" ng-model="userListCtrl.newUser.email"/>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input class="form-control" id="pass" type="password" placeholder="Password"
             ng-model="userListCtrl.newUser.pass"/>
      <input class="form-control" type="password" placeholder="Confirm password"
             ng-model="userListCtrl.newUser.pass_confirm" compare-to="userListCtrl.newUser.pass"/>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label class="col-sm-3 control-label">Temperature unit</label>
    <div class="col-sm-9">
      <div class="radio">
        <label>
          <input name="unit" id="unitC" type="radio" value="c" ng-model="userListCtrl.newUser.unit">
          Celsius
        </label>
      </div>
      <div class="radio">
        <label>
          <input name="unit" id="unitF" type="radio" value="f" ng-model="userListCtrl.newUser.unit">
          Fahrenheit
        </label>
      </div>
      <div class="radio">
        <label>
          <input name="unit" id="unitK" type="radio" value="k" ng-model="userListCtrl.newUser.unit">
          Kelvin
        </label>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label class="col-sm-3 control-label">Roles</label>
    <div class="col-sm-9">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="owner" ng-model="userListCtrl.newUser.roles.owner"/>
          Owner
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="user" ng-model="userListCtrl.newUser.roles.user"/>
          User
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="guest" ng-model="userListCtrl.newUser.roles.guest"/>
          Guest
        </label>
      </div>
    </div>
  </fieldset>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default">Create user</button>
    </div>
  </div>
</form>
